body {
    margin: 0;
    background: #000;
    color: #fff;
    font-family: Arial, sans-serif;
  }

  footer {
    position: fixed;
    bottom: 0;
    left: 0;
    width: 100%;
    padding: 10px;
    z-index: 100;
  }

  #border {
    background-color: #222;
    margin-left: 15px;
    margin-right: 25px;
  }

  #überschrift {
   display: flex;
   flex-direction: column;
   align-items: center;
   margin: 20px;
  }

  .sortierung {
    display: flex;
    justify-content: flex-end;
    column-gap: 30px;
    margin: 10px;
  }

  .note {
  background: #222;
  border-radius: 10px;
  padding: 1rem;
  height: 200px;
  width: 150px;    /* oder z.B. 150px für fixe Breite */
  position: relative; /* wichtig für absolute Positionierung der Sterne */
  color: white;
  overflow: hidden; /* verhindert, dass überlaufender Text Layout sprengt */
  display: flex;
  flex-direction: column;
  justify-content: space-between; /* verteilt Inhalt vertikal */
  margin: 10px;
  }

  /* Hover-Effekt */
 .note:hover {
  transform: translateY(-5px);
  box-shadow: 0 10px 20px rgba(255, 255, 255, 0.1);
  background-color: #2a2a2a;
 }

  .note p {
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
  }

  .notes-grid {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
  }

  .star {
  position: absolute;
  top: 10px;
  right: 10px;
  cursor: pointer;
  color: gray;
  transition: color 0.3s ease;
  }

  /* Versteckt das eigentliche Checkbox-Element */
.star-checkbox {
  display: none;
}
/* Wenn Checkbox aktiviert ist → goldener Stern */
.star-checkbox:checked + .star {
  color: gold;
}


h1, .titel {
  font-size: 1.2rem;
  font-weight: bold;
  margin-bottom: 1rem;
}

/* Checkliste */
.checklist {
  list-style: none;
  padding: 0;
  margin: 1rem 0;
}

.checklist li {
  display: flex;
  align-items: center;
  gap: 0.5rem;
  margin-bottom: 0.5rem;
  margin-left: 20px;
}

/* Checkboxen */
.checklist input[type="checkbox"] {
  width: 18px;
  height: 18px;
  accent-color: white;
}

/* Icons unten */
.toolbar {
  display: flex;
  justify-content: space-around;
  padding: 1rem 0;
  font-size: 1.2rem;
  color: white;
}

.toolbar i {
  cursor: pointer;
  transition: transform 0.2s ease;
}

.toolbar i:hover {
  transform: scale(1.2);
}


#box {
  background-color: #222;
  height: 25px;
  margin-left: 15px;
  margin-right: 15px;
}

.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 1rem;
  color: white;
  font-size: 1.2rem;
}

#topbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 1rem;
  color: white;
  font-size: 1.2rem;
}

.left {
  display: flex;
  align-items: center;
  gap: 0.5rem;
}

.right {
  display: flex;
  align-items: center;
  gap: 1rem;
}

.title {
  font-size: 1.2rem;
  font-weight: bold;
}

a,
a:visited,
a:active {
  color: white;
  text-decoration: none;
}
